.layout {
  display: flex;
  flex-direction: column;

  > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.navigation {
  transition: top 0.1s;
  background-color: #fff;
  border-bottom: 1px solid #ededed;

  &-primary {
    transition: top 0.1s;
    background-color: #fff;
    border-bottom: 1px solid #ededed;

    &__content {
      margin: 10px auto;
      padding: 10px;
      display: flex;
      flex-direction: row;
    }

    &__right {
      margin: 10px auto;
      padding: 10px;
      display: flex;
      flex-direction: row;
    }
  }

  &-secondary {
    background-color: #fff;
    border-bottom: 1px solid #ededed;

    &__content {
      margin: 10px auto;
      padding: 10px;
      display: flex;
      flex-direction: row;
    }

    &__right {
      margin: 10px auto;
      padding: 10px;
      display: flex;
      flex-direction: row;
    }
  }
}

.main-container {
}
