.content_wrap {
  width: 1084px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  &_item {
    & ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;

      .prod {
        &_item.skeleton {
          > .prod_img,
          .prod_title,
          .prod_price {
            background: #f2f2f2;
            position: relative;
            overflow: hidden;
          }
        }

        &_item {
          flex-direction: column;
          margin: 0 0 23px 23px;
          position: relative;
          flex-basis: 241px;
        }

        &_img {
          width: 241px;
          height: 241px;
          border-radius: 5px;

          img {
            border-radius: 5px;
          }
        }

        &_info {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        &_title {
          width: 70%;
          height: 18px;
          border-radius: 3px;
        }

        &_price {
          width: 50%;
          height: 18px;
          margin-top: 3px;
          border-radius: 3px;
        }
      }
    }
  }
}
